<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rhythm Weaver</title>
    <script src="src/htmx.min.js"></script>
</head>
<body>
    <form hx-get="/image" hx-target="#image-container">
        <input type="number" name="notes">
        <input type="number" name="subdivision">
        <button type="submit">Generate Rhythm</button>
    </form>

    <div id="image-container"></div>
</body>
</html>
