<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rhythm Weaver</title>
    <script src="src/htmx.min.js"></script>
    <link rel="stylesheet" href="src/styles.css">
    <link rel="icon" href="src/favicon.ico">
</head>

<body>
    <h1 class="text-center text-2xl mt-8">Rhythm Weaver</h1>
    <form hx-get="/image" hx-target="#image-container" class="w-1/2 mt-8 mx-auto">
        <div class="mb-4">
            <label for="notes" class="block text-gray-600">Number of Non-rest Notes</label>
            <input type="number" name="notes" max="20" class="p-2 w-full border rounded-md">
        </div>
        <div class="mb-4">
            <label for="subdivision" class="block">Subdivision</label>
            <select type="number" name="subdivision" class="p-2 w-full border rounded-md">
                <option value="2">Eighths</option>
                <option value="3">Triplets</option>
                <option value="4">Sixteenths</option>
            </select>
        </div>
        <div class="mb-12">
            <label for="timesignature" class="block text-gray-600">Time Signature</label>
            <select type="number" name="timesignature" class="p-2 w-full border rounded-md">
                <option value="2">2/4</option>
                <option value="3">3/4</option>
                <option value="4">4/4</option>
            </select>
        </div>

        <div class="flex flex-row justify-center">
            <button type="submit" name="action" value="simple" class="rounded bg-blue-500 text-white p-2 mx-2 w-48">Generate Rhythm</button>
            <button type="submit" name="action" value="complex" class="rounded bg-blue-500 text-white p-2 mx-2 w-48">Surprise Me</button>
        </div>
    </form>

    <div id="image-container" class="flex justify-center mt-8"></div>
</body>
</html>
